@import "tailwindcss";

@theme{
    --font-sans: Nunito, system-ui, -apple-system, sans-serif;

    --color-whitish: #F0F0F5;
    --color-grayish: #8888AA;
    --color-blackish: #16161F;
    --color-dark: #2A2A3A;
    --color-pitch: #0D0D14;
    --color-deep: #1E1E2E;
    --color-mist: #A0A0C0;
}